body{
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

.main{
	text-align: center;
	height: 800px;
	font-size: 1.5em;
	background-color: #E5F5FF;
	color: #66BFBF;
}

hr{
	border: dotted #D3D3D3 6px;
	border-bottom: none;
	width: 10%;
	margin: 100px auto;
}

.cloud1{
	position: absolute;
	bottom: 400px;
	right: 200px;
	opacity: 0.7;
}

.cloud2{
	position: absolute;
	top: 100px;
	left: 200px;
	opacity: 0.8;
}

.mountain{
	opacity: 0.9;
	padding-top: 80px;
}

.main h1{
	padding-top: 150px;
	margin-block-start: 0;
	font-family: 'Pacifico', cursive;
	font-size: 4em;
}

.upper-strap{
	height: 50px;
	background-color: #6A6A6A;
	margin: 0;
}


.person{
	margin: auto;
	padding-top: 50px;
	text-align: center;
	width: 400px;
}

.person img{
	border-radius: 50%;
}

.person > p{
	line-height: 23px;
}

.titles > h2, h3{
	color: #66BFBF;
	margin-top: 30px;
}

.skills{
	width: 600px;
	text-align: center;
	margin: auto;
	margin-top: 70px;
}

.skill-right  > div {
	margin-top: 60px;
	padding-left: 170px;
	line-height: 23px;
	text-align: left;
}

.skill-left  > div {
	margin-top: 60px;
	padding-right: 170px;
	line-height: 23px;
	text-align: left;
}

.get-in-touch{
	margin-top: 70px;
	text-align: center;
}

.bottom-container{
	background-color: #66BFBF;
	text-align: center;
	padding: 50px 0 20px;
}

.bottom-container p{
	color: #EAF6F6;
	font-size: 14px;
}

.footer-link{
	color: #11999E;
	font-weight: bold;
	font-size: 16px;
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none;
}

.butn {
	margin-top: 50px;
	margin-bottom: 50px;
  background: #34d9bd;
  background-image: -webkit-linear-gradient(top, #34d9bd, #2980b9);
  background-image: -moz-linear-gradient(top, #34d9bd, #2980b9);
  background-image: -ms-linear-gradient(top, #34d9bd, #2980b9);
  background-image: -o-linear-gradient(top, #34d9bd, #2980b9);
  background-image: linear-gradient(to bottom, #34d9bd, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
	font-family: 'Rubik', sans-serif;
  color: #ffffff;
  font-size: 31px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}